{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <label for="symbol">Symbol<label>
        <select name="symbol">
            {% for option in select_options %}
                <option value="{{ option["symbol"] }}">{{ option["symbol"] }}</option>
            {% endfor %}
        </select>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="shares" placeholder="Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell Stock</button>
    </form>
{% endblock %}
